@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="row" id="myview-container">
        <span data-bind="text: firstname"></span>
        <span data-bind="text: lastname"></span>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/prod/js/pages/Test/Test.js" asp-append-version="true"></script>
}
