@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    @if (User.Identity is {IsAuthenticated: true })
    {
        <h3 class="display-6">Welcome @User.Identity.Name</h3>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-4 ">
                    <div class="p-0 my-3 border">
                        <div class="card" >
                            <div class="card-body">
                                <h3 class="card-title text-success">View Income Information</h3>
                                <p class="card-text">View Total Gross Pay, Net Pay, Pre and Post Tax Deductions and other PayStub related information</p>
                                <div class="row">
                                    <form asp-action="GetIncomeInformation" asp-controller="Income">
                                        <hr />
                                        <div class="col">
                                            <input type="submit" value="View" class="btn btn-success form-control" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <h3 class="display-6">Welcome Stranger</h3>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-4 ">
                    <div class="p-0 my-3 border">
                        <div class="card" >
                            <div class="card-body">
                                <h3 class="card-title text-success">Please Login</h3>
                                <p class="card-text">View Total Gross Pay, Net Pay, Pre and Post Tax Deductions and other PayStub related information</p>
                                <div class="row">
                                    <div class="col">
                                        <a class="nav-link" asp-action="Login" asp-controller="Home">Login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script type="text/javascript" src="~/prod/js/pages/Test/Test.js" asp-append-version="true"></script>
}